.hidden
{
    display: none;
}

body
{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Fredoka', sans-serif;
}
#nameTag{
    color: white;
    font-size: 15px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
}
button
{
   box-sizing: border-box;
}

#clock
{
    font-size: 150px;
    text-align: center;
    margin: 10px;
    margin-top: 17%;
    margin-bottom: 5px;
}

#greeting
{
    text-align: center;
    font-size: 50px;
}

img
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

#login-form
{
    text-align: center;
}

#loginButton
{
    display: none;
}

#input1
{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid white;
    margin-bottom: 20px;
    width: 30%;
    height: 20%;
    text-align: center;
    background-color: transparent;
    color: white;
    text-shadow: -1px 0 black, 1px 0 black, 0 -1px black, 0 1px black;
}

#login-form ::placeholder
{
    font-size: 15px;
    color: white;
    text-shadow: -1px 0 black, 1px 0 black, 0 -1px black, 0 1px black;
}

#todo-form
{
    text-align: center;
}

#input2
{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid white;
    width: 30%;
    height: 20%;
    text-align: center;
    background-color: transparent;
    color: white;
    text-shadow: -1px 0 black, 1px 0 black, 0 -1px black, 0 1px black;
}
#todo-form ::placeholder
{
    font-size: 15px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#todo-list
{
    text-align: center;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

#quote
{
    position: fixed;
    bottom: 0;
    left: 0;
}

#movieQuotes
{

    font-size: 21px;
}


#weather
{
    position: fixed;
    bottom: 0;
    right: 0;
}
#wedTemp
{
    font-size: 21px;
}


#todo-list button {
    background-color: white;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    margin-left: 10px;
}
